.banner {
  display: flex;
  flex-direction: column;
  height: 345vw;
  padding: 0 16px;
  position: relative;

  &-bottom {
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #0c2c41;
      width: 314px;
      justify-content: center;

      span {
        filter: blur(2px);
        -webkit-filter: blur(2px);
      }
    }

    &-description {
      margin-top: 17px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 142%;
      text-align: center;
      letter-spacing: -0.5px;
      color: #0c2c41;
    }
  }

  &-content {
    display: flex;
    justify-content: center;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      margin-bottom: 32px;
    }
  }

  &-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-text {
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      color: #ffffff;
      margin-right: 6px;
    }

    &-icon {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &-app {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px 0px;
    align-items: center;

    &-apple {
      img {
        max-width: 176px;
        max-height: 51px;
      }
    }

    &-google {
      img {
        max-height: 51px;
        max-width: 176px;
      }
    }
  }
}
