.navbar {
  background-color: #2f3d4a;
  padding: 16px 16px 16px 16px;

  .download {
    display: none;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-column {
      display: flex;
      align-items: center;
      gap: 0 16px;

      &-menu {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-icon {
          width: 20px;
          height: 2px;
          background-color: white;
        }
      }

      &-language {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px 6px;

        &-vn {
          max-width: 20px;
          max-height: 20px;
        }

        &-arrow {
          max-width: 20px;
          max-height: 20px;
        }

        &-text {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #ffffff;
        }
      }

      &-logo {
        img {
          max-width: 80px;
          max-height: 22px;
        }
      }

      &-button {
        font-family: Manrope;
        padding: 7px 22px;
        background: #fdd116;
        border-radius: 43.1676px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #0c2c41;
      }
    }
  }
}

nav {
  transition: all 0.5s;
  width: 100%;
  z-index: 2;
  top: -65px;
}

.fixed-menu {
  position: sticky;
  top: 0;
  left: 0;
  background: #2f3d4a;

  .download {
    display: block;
  }

  .language {
    display: none;
  }
}
